{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
        <input class="form-control" name="password_again" placeholder="Password (again)" type="password">
        </div>
        {% if alert %}
        <div style="text-align: left; width: 40%; margin: auto;" class="alert alert-danger center-block" role="alert" align="center">
            <p>Note: A strong password should contain at least:</p>
            <ul>
                {% if special < 1 %}
                <li>One symbol.</li>
                {% endif %}
                {% if digit < 8 %}
                <li>Number of digits not less than 8.</li>
                {% endif %}
                {% if upper < 1 or lower < 1 %}
                <li>One Uppercase & Lowercase letter.</li>
                {% endif %}
                {% if length < 12 %}
                <li>Whole password should be 12 characters long.</li>
                {% endif %}
            </ul>
        </div> <br>
        {% endif %}
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
